body {
  font: $mainFont;
  background: $backgroundColor;
  color: $typeDefault;
  @include breakpoint (0 $narrow) {
    font-size: 0.85em;
  }
}

#{headings()} {
  font: $headFont;
  color: $headColor;
  font-weight: $bold;
}

strong {
  font-weight: $bold;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
