@mixin backImage(
  $image,
  $bgPos: center center
  ) {
  background: url($image) no-repeat $bgPos;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}//backImage

@mixin backGradientImage(
  $image,
  $grDir: to bottom,
  $opStart: 0,
  $opEnd: 0,
  $bgPos: center center
  ) {
  background: linear-gradient(
  $grDir,
  rgba(0,0,0, $opStart),
  rgba(0,0,0, $opEnd)
  ), url($image) no-repeat $bgPos;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}//backGradientImage only works with IE 10+

@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  } //before, after. & is point to parent
  &:after {
    clear: both;
  } //after
}//clearfix
