#dining {
  @include background(image-url('../images/hotel/fly_rocket.jpg'),
                      image-url('../images/hotel/build_rocket.jpg'),
                      image-url('../images/hotel/fly_rocket.jpg'));
  background-repeat: no-repeat;
  background-position: -200px -400px, 110% 300px, 135% 100px;

  h1, h2 {
    color: $red;
    padding: 10px 0;
  }//headings

  a { color: $orange; font-weight: bold; }

  img{
    width: 100%;
    @include border-radius(10px);
  }//img

  @include breakpoint($small) {
    #areadining {
      margin-bottom: 30px;

      h1 {
        font-weight: $normal;
        font-size: 2.5em;
      }//h1
      p {
        font-size: 1.2em;
        line-height: 1.4em;
      }//p
    }//areadining

    section {
      @include span(4 of 12);
      @include pad(0.25,0.25);

      h2 {
        font-size: 1.2em;
        line-height: 120%;
        color: $orange;
      }//h2

      p {
        padding-top: 10px;
        font-size: 1em;
        line-height: 1.3em;
      }//p
    }//section
  }//breakpoint

  #roomservice {
    margin-top: 20px;
    //@include background-image(linear-gradient(top, $light, lighten($orange, 30)));
    @include pad(1,1);
    text-align: center;
    border-top: 1px solid $red;
    border-bottom: 1px solid $red;
  }
}//dining
