#dining {
  @include background(image-url('../images/hotel/fly_rocket.jpg'),
                      image-url('../images/hotel/build_rocket.jpg'),
                      image-url('../images/hotel/fly_rocket.jpg'));
  background-repeat: no-repeat;
  background-position: -200px -400px, 110% 300px, right -260px top 0px;

  h1, h2 {
    color: $red;
    padding: 10px 0;
  }//headings

  a { color: $orange; font-weight: bold; }

  img{
    width: 100%;
    @include border-radius(10px);
  }//img

  #inhotel { padding-bottom: 24px; }

  .inverse {
    background-color: lighten($orange, 12);
    h2, p {color:$light; text-align:center;}
    h2 {
      @include text-shadow(rgba(0,0,0,0.1) 1px 2px 0px);
      padding-bottom: 0;
    }
    ul {
      margin: 0 6px 0 28px;
    }
    ul li {
      color: $light;
      font-size: 0.8em;
      line-height: 1.1em;
      padding: 4px 0;
      list-style: square;
      list-style-position: outside;
      img {width: 100px;}
    }
    margin-top: 22px;
    padding-bottom: 8px;
    opacity: 0.8;
    @include border-radius(4px);
    border: 1px dashed $orange;
  }

  @include breakpoint($small) {
    #areadining {
      margin-bottom: 30px;

      h1 {
        font-weight: $normal;
        font-size: 2.5em;
      }//h1
      p {
        font-size: 1.2em;
        line-height: 1.4em;
      }//p
    }//areadining

    section {
      @include span(4 of 12);
      @include pad(0.25,0.25);

      h2 {
        font-size: 1.2em;
        line-height: 120%;
        color: $orange;
      }//h2

      p {
        padding-top: 10px;
        font-size: 1em;
        line-height: 1.3em;
      }//p

      .inverse {
        margin-top: 80px;
      }
    }//section
  }//breakpoint

  #roomservice {
    margin-top: 34px;
    padding-bottom: 12px;
    //@include background-image(linear-gradient(top, $light, lighten($orange, 30)));
    @include pad(1,1);
    text-align: center;
    border-top: 1px solid $red;
    border-bottom: 1px solid $red;
  }
}//dining
