#events {
  padding: 0;
  @include clearfix;

  .event {
    position: relative; // for the text content
    @include container(100%);
    @include breakpoint($small) {
      @include span(4 of 12 0);
    }

    .content {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 0;
      background: rgba($dark, 0.7);
      padding: 30px;
      color: $light;
      font-weight: $normal;
      line-height: 130%;
    }

    h2 {
      color: $orange;
    }
  }

  #storyboard {
    @include backImage('../images/hotel/storyboard.jpg');
  }

  #businessmeetings {
    @include backImage('../images/hotel/user_analysis.jpg');
  }

  #weddings {
    @include backImage('../images/hotel/app.jpg');
  }

}
