#hotelinfo {
  color: $light;
  @include clearfix;
  @include background(image-url('../images/hotel/molecule.png'),
                      image-url('../images/hotel/molecule.png'),
                      linear-gradient(top, $taupe, $purple),
                      radial-gradient(#c00, #fff 100px));
  background-repeat: repeat-y;
  background-position: -320px 0px, right -320px top 0px, 0px 0px;

  #{headings()} {
   color: $light;
  }

  .heading {
    h1 {
      font-size: 2.6em;
      font-weight: $normal;
    }
  }

  #usefulinfo {
    @include clearfix;
    section {
      @include breakpoint($small) {
        @include span(1 of 3);
      }
      @include breakpoint(450px $small) {
        &.checklist {
          @include span(1 of 2);
        }
      }

      h2 {
        color: lighten($taupe, 25);
        font-weight: $normal;
        line-height: 110%;
        padding: 10px 0;
      }// h2

      p {
        font-size: 1em;
        line-height: 130%;
      }// p

      ul {
        li {
          list-style: square;
          margin-left: 10%;
          line-height: 115%;
          margin-bottom: 5px;
        }//li
      }//ul
    }//section
    section#arrivalinfo {
      ul {
        margin: 0;
        li {
          list-style: none;
          border-top: 1px solid rgba($light, 0.4);
          padding: 15px 0;
          margin-left: 0;
          strong {
            color: lighten($taupe, 25);
          }
          &:first-child {
            border-top: none;
          }//strong
        }//li
      }//ul
    }//section#arrivalinfo
  }//usefulinfo
  #greenprogram {
    background-color: rgba(darken($purple, 10), 0.3);
    margin-top: 20px;
    border: 1px solid rgba($light, 0.4);
    padding: 20px;
    @include border-radius(20px);

    @include breakpoint($wide) {
      @include background-image(url('../images/misc/greenplanet.png'));
      background-size: 400px;
      background-repeat: no-repeat;
      background-position: 120% center;
      padding-right: 300px;
    }
  }
}
