#hotelinfo {
  color: $light;
  @include clearfix;
  @include background(url('../images/hotel/molecule.png'),
                      url('../images/hotel/molecule.png'),
                      linear-gradient(top, $taupe, $purple));
  background-repeat: repeat-y;
  background-position: -228px -200px, 124% -300px, 0px 0px;
  @include breakpoint(0px $small) {
    background-position: -188px -200px, 1200px -300px, 0px 0px;
  }

  #{headings()} {
   color: $light;
  }

  .heading {
    h1 {
      font-size: 2.6em;
      font-weight: $normal;
    }
  }

  #usefulinfo {
    @include clearfix;
    section {
      @include breakpoint($small) {
        @include span(1 of 2);
      }
      @include breakpoint(450px $small) {
        &.checklist {
          @include span(1 of 2);
        }
      }
      padding-bottom: 16px;

      h2 {
        color: lighten($taupe, 25);
        font-weight: $normal;
        line-height: 110%;
        padding: 10px 0;
      }// h2

      p {
        font-size: 1em;
        line-height: 130%;
      }// p

      ul {
        li {
          list-style: square;
          margin-left: 10%;
          line-height: 115%;
          margin-bottom: 5px;
        }//li
      }//ul
    }//section
    section#arrivalinfo {
      > ul {
        margin: 0;
        > li {
          list-style: none;
          border-top: 1px solid rgba($light, 0.4);
          padding: 15px 0;
          margin-left: 0;
          ul {
            padding-top: 6px;
            clear: both;
            li {
              padding-bottom: 4px;
            }
          }
          a {
            display: block;
            font-weight: bold;
          }
          span {
            float: right;
          }
          strong {
            color: lighten($taupe, 25);
          }
          p {
            margin-top: 6px;
          }
          &:first-child {
            border-top: none;
          }//strong
        }//li
      }//ul
    }//section#arrivalinfo
    section#services {
      ul {
        li {
          padding-bottom: 6px;
          span {
            display: block;
          }
        }
      }
    }//section#services
    section#accessibility {
      ul {
        padding-top: 8px;
        li {
          display: inline-block;
        }
      }
    }
    section#expertise {
      ul {
        li {
          padding-bottom: 4px;
        }
      }
    }
  }//usefulinfo
  #greenprogram {
    background-color: rgba(darken($purple, 10), 0.3);
    margin-top: 20px;
    border: 1px solid rgba($light, 0.4);
    padding: 20px;
    @include border-radius(20px);

    @include breakpoint($wide) {
      @include background-image(url('../images/hotel/about_me.png'));
      background-size: 1200px;
      background-repeat: no-repeat;
      background-position: 50px -220px;
      padding-right: 210px;
    }

    h2 {
      font-size: 1.2em;
    }
    p {
      line-height: 115%;
      padding-bottom: 6px;
    }
  }
}
