header {
  .fullheight {
    @include backImage('../images/hotel/splash_hotelphoto.jpg');
    background-position: 45% 0px;

    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    body.ieUnder11 & {padding-top: 180px;}

    overflow: hidden;

    .hgroup {
      padding: 174px 0 100px 0;
      @include background-image(url('../images/hotel/logo_top.png'));
      background-repeat: no-repeat;
      background-position: center -20px;
      h1 {
        color: $light;
        font-size: 5em;
        line-height: .8em;
        //@include text-shadow($dark 0 0 20px);
        text-align: center;
        //padding: 0 10px 0 220px;
      }//h1
      h2 {
        padding-top: 40px;
        font-size: 1.1em;
        /* width: 70%;
        max-width: 230px;
        margin: 0 auto; */
        text-align: center;
        color: $dark;
        /* font-weight: \$normal;
        background: rgba(\$purple, 0.5);
        border: 1px solid rgba(\$purple, 0.8);
        margin-top: 12px;
        font-size: 1.2em; */
      }//h2
      p {
        text-align: center;
        img {
          padding-top: 20px;
          width: 68px;
        } //img
      }//p
    }//hgroup
  }//fullheight
}//header
