header {
  .fullheight {
    @include backImage('../images/hotel/splash_hotelphoto.jpg');

    @include display-flex();
    @include align-items(center);
    @include justify-content(center);

    .hgroup {
      padding: 100px 0;
      h1 {
        color: $light;
        font-size: 5em;
        line-height: .8em;
        @include text-shadow($dark 0 0 20px);
        text-align: center;
        padding: 0 10px;
      }//h1
      h2 {
        width: 70%;
        max-width: 230px;
        margin: 0 auto;
        text-align: center;
        color: rgba($light, 0.75);
        font-weight: $normal;
        background: rgba($purple, 0.5);
        border: 1px solid rgba($purple, 0.8);
        margin-top: 12px;
        font-size: 1.2em;
      }//h2
      p {
        text-align: center;
        img {
          padding-top: 50px;
          max-width: 50px;
        } //img
      }//p
    }//hgroup
  }//fullheight
}//header
