header #nav {
  @include clearfix;
  @include background-image(linear-gradient(top, lighten($purple, 10%), rgba($purple, 0.8)));
  &.the-end {
    @include background-image(linear-gradient(top, lighten($purple, 10%), rgba($purple, 1)));
  }
  width: 100%;
  z-index: 100;

  .navbar {
    @include container;
    .brand {
      @include display-flex();
      @include align-items(center);
      @include justify-content(center);

      width: 180px;
      float: left;
      font-weight: $bold;
      background: $orange;
      -webkit-transition: background-color 0.35s, color 0.35s;
      transition: background-color 0.35s, color 0.35s;

      @include background-image(image-url('../images/hotel/logo.png'));
      background-repeat: no-repeat;
      background-position: 8px top;
      background-size: 52px;

      @include breakpoint (0 $small) {
        @include span(3 of 12);
        text-align: center;
        background-position: center top;
      }

      &.resume {
        background-color: $taupe;
      }
      &.inactive {
        background-color: transparent;
      }
      &.inactive:hover {
        background-color: darken($purple, 8%);
      }
      a {
        color: $light;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        width: 100%;
        padding: 7px 8px 8px 8px;
        span.small {
          display: none;
        }
        @include breakpoint (0 $small) {
          font-size: 0.8em;
          span.big {display: none}
          span.small {display: inline}
        }//breakpoint
      }//a
    }//brand
    ul {
      float: right;
      li {
        float: left;
        a {
          color: rgba($light, 0.8);
          text-decoration: none;
          padding: 10px 10px 10px 18px;
          display: inline-block;
          font-size: 0.8em;

          //icon styles
          background-size: 35px;
          background-repeat: no-repeat;
          background-position: 2px;

          //&.info { background-image: url('../images/icons/info.png');}
          //&.rooms { background-image: url('../images/icons/rooms.png');}
          //&.dining { background-image: url('../images/icons/dining.png');}
          //&.events { background-image: url('../images/icons/events.png');}
          //&.attractions { background-image: url('../images/icons/attractions.png');}

          @include breakpoint(0 $small) {
            padding: 10px 18px;
            //&::after {
              //content: '\000a0';//css for nothing
              //display: block;
            //}
            span {display: none;
            }//span
          }//breakpoint

          @include breakpoint($small $medium) {
            padding-left: 10px;
            &.icon { background-image: none; }
            .fa {display: none;}
          }//breakpoint

          -webkit-transition: background-color 0.35s, color 0.35s;
          transition: background-color 0.35s, color 0.35s;
          &:hover {
            background-color: darken($purple, 8%);
            color: $light;
          }//:hover
          &.active {
            color: $orange;
            background-color: darken($purple, 8%);
          }//active
        }//a
      }//li
    }//ul
  }//navbar
}//header nav
