#rooms {
  @include background(image-url('../images/hotel/graphic_design.jpg'));
  background-repeat: repeat-x;
  background-position: right -100% top 120px;
  padding-bottom:0;

  header {
    margin-bottom: 60px;
    padding-top: 12px;
    @include container(90%);
    @include breakpoint($medium) {
      @include container;
      @include pad(1,1);
    }//breakpoint

    h1 {
      text-align: center;
    }
    p {
      font-size: 1.3em;
      padding-top: 12px;
      text-align: center;
      span {
        font-size: 0.7em;
        display: inline-block;
        font-weight: bold;
        color: #999;
      }
    }
  }//header

  .room-group {
    width: 100%;
  }

  #piccadilly { @include backImage('../images/hotel/rooms_piccadilly.jpg');}
  #cambridge {
    @include backImage('../images/hotel/rooms_cambridge.jpg'); background-position-y: top;
    .room {
      @include breakpoint($small) {
        @include pad(1,7);
      }//breakpoint
    }
  }
  #westminster {@include backImage('../images/hotel/thegmic.jpg'); background-position-y: top;}
  #oxford {@include backImage('../images/hotel/rooms_oxford.jpg');}
  #victoria {@include backImage('../images/hotel/rooms_victoria.jpg');}
  #manchester {@include backImage('../images/hotel/rooms_manchester.jpg');}

  .room {
    @include container(100%);
    @include pad(1,1);

    @include display-flex();
    @include align-items(center);
    @include justify-content(center);

    @include breakpoint($small) {
      @include pad(7,1);
    }//breakpoint

    .content {
      @include border-radius(10px);
      background: rgba($light, 0.8);
      padding: 20px;
      margin-top: 200px; //for older than IE 10
      margin-bottom: 200px;

      h1, a {
        color:$red;
        font-weight: bold;
      }//h1
    }//content
  }//room
}//rooms
