#rooms {
  header {
    margin-bottom: 20px;
    @include container(90%);
    @include breakpoint($medium) {
      @include container;
      @include pad(1,1);
    }//breakpoint
  }//header

  .room-group {
    width: 100%;
  }

  #piccadilly { @include backImage('../images/hotel/rooms_piccadilly.jpg');}
  #cambridge { @include backImage('../images/hotel/rooms_cambridge.jpg');}
  #westminster {@include backImage('../images/hotel/rooms_westminster.jpg');}
  #oxford {@include backImage('../images/hotel/rooms_oxford.jpg');}
  #victoria {@include backImage('../images/hotel/rooms_victoria.jpg');}
  #manchester {@include backImage('../images/hotel/rooms_manchester.jpg');}

  .room {
    @include container(100%);
    @include pad(1,1);

    @include display-flex();
    @include align-items(center);
    @include justify-content(center);

    @include breakpoint($small) {
      @include pad(7,1);
    }//breakpoint

    .content {
      @include border-radius(10px);
      background: rgba($light, 0.8);
      padding: 20px;
      margin-top: 200px; //for older than IE 10
      margin-bottom: 200px;

      h1 {
        color:$red;
      }//h1
    }//content
  }//room
}//rooms
