#rooms {
  padding-bottom:0;
  position: relative;
  z-index: 0;
  overflow: hidden;

  .image-animate {
    @include background(url('../images/hotel/graphic_design.jpg'));
    background-repeat: repeat-x;
    position: absolute;
    top: 120px;
    left: -100%;
    width: 200%;
    height: 200px;
    z-index: -1;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);

    @include breakpoint(0 $narrow) {
      left: -220%;
      width: 400%;
    }
  }
  &:hover {
    .image-animate {
      transform: translateX(400px);
    }
  }

  header {
    margin-bottom: 60px;
    padding-top: 12px;
    @include container(75%);
    @include breakpoint($medium) {
      @include container(50em);
      @include pad(0.6,0.6);
    }//breakpoint
    @include breakpoint(0 $small) {
      @include container(90%);
    }//breakpoint

    h1 {
      text-align: center;
    }
    p {
      font-size: 1.3em;
      padding-top: 12px;
      text-align: center;
      span {
        font-size: 0.7em;
        display: inline-block;
        font-weight: bold;
        color: #999;
      }
    }
  }//header

  .room-group {
    width: 100%;
  }

  #piccadilly { @include backImage('../images/hotel/rooms_piccadilly.jpg');}
  #cambridge {
    @include backImage('../images/hotel/rooms_cambridge.jpg'); background-position: center top;
    .room {
      @include breakpoint($small) {
        @include pad(1,7);
      }//breakpoint
    }
  }
  #westminster {@include backImage('../images/hotel/thegmic.jpg'); background-position: center top;}
  #oxford {@include backImage('../images/hotel/rooms_oxford.jpg');}
  #victoria {@include backImage('../images/hotel/rooms_victoria.jpg');}
  #manchester {@include backImage('../images/hotel/rooms_manchester.jpg');}

  .room {
    @include container(100%);
    @include pad(1,1);

    @include display-flex();
    @include align-items(center);
    @include justify-content(center);

    @include breakpoint($small) {
      @include pad(7,1);
    }//breakpoint

    height: 100%;
    body.ieUnder11 & {
      padding-top:200px; //for older than IE 10
      padding-bottom:200px;
    }

    .content {
      @include border-radius(10px);
      background: rgba($light, 0.8);
      padding: 20px;

      h1, a {
        color:$red;
        font-weight: bold;
      }//h1
    }//content
  }//room
}//rooms
