#welcome {
  @include background-image(linear-gradient(top, $orange, $red ));

  article {
    text-align: center;
    @include container(36em);
    padding: 42px 0;

    @include breakpoint(0 $small) {
      @include container(80%);
      padding: 30px 0;
    }
  }//article

  h1 {
    color: $light;
    font-weight: $normal;
  }//h1

  p {
    color: $purple;
  }

  .gallery {
    @include clearfix;
    @include container;
    @include pad(1,1);
    padding-top: 18px;
    img{
      @include border-radius(24%);
      @include gallery(1 of 10);
      display: inline;

      @include breakpoint(0 $small) {
        @include gallery(1 of 5);
        display: inline;
        margin-bottom: 4px;
      }
      @include breakpoint($small $medium) {
        @include gallery(1 of 10);
        &.hidesm {display: none;}
      }
    }
  }
}//welcome
