#welcome {
  @include background(image-url('../images/hotel/about_me.png'),
                      linear-gradient(top, $orange, $red ));
  background-repeat: no-repeat;
  background-position: center 240px, 0px 0px;

  article {
    text-align: center;
    @include container(36em);
    padding: 42px 0;

    @include breakpoint(0 $small) {
      @include container(80%);
      padding: 30px 0;
    }

    p {
      @include breakpoint(0 $small) {
        padding-top: 8px;
      }
    }
  }//article

  h1 {
    color: $dark;
    font-weight: $normal;
    font-size: 2em;
    @include breakpoint(0 $small) {
      font-size: 1.4em;
    }
  }//h1

  p {
    color: $dark;
    @include breakpoint(0 $small) {
      line-height: 1.4em;
    }
  }

  .gallery {
    @include clearfix;
    @include container;
    @include pad(1,1);
    padding-top: 18px;
    img{
      @include border-radius(24%);
      @include gallery(1 of 10);
      display: inline;

      @include breakpoint(0 $small) {
        @include gallery(1 of 5);
        display: inline;
        margin-bottom: 4px;
      }
      @include breakpoint($small $medium) {
        @include gallery(1 of 10);
        &.hidesm {display: none;}
      }
    }
  }
}//welcome
