#welcome {
  @include background(linear-gradient(top, $orange, $red ));
  position: relative;
  z-index: 0;

  article {
    text-align: center;
    @include container(36em);
    padding: 42px 0;

    @include breakpoint(0 $small) {
      padding: 30px 0;

      p {padding-top: 8px;}
    }
    @include breakpoint(0 $narrow) {
      @include container(90%);
      padding: 26px 0;
    }
    @include breakpoint($narrow $small) {
      @include container(80%);
      padding: 20px 0;
    }
  }//article

  h1 {
    color: $dark;
    font-weight: $normal;
    font-size: 2em;
    @include breakpoint(0 $small) {
      font-size: 1.4em;
    }
  }//h1

  p {
    color: $dark;
    text-align: center;
    @include breakpoint(0 $small) {
      line-height: 1.4em;
    }
  }
  > p {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.8em;
  }

  .gallery {
    @include clearfix;
    @include container;
    @include pad(1,1);
    padding-top: 18px;

    @include breakpoint(0 $small) {
      @include container(30em);
    }

    img{
      @include border-radius(24%);
      @include gallery(1 of 10);
      display: inline;

      @include breakpoint(0 $small) {
        @include gallery(1 of 5);
        display: inline;
        margin-bottom: 4px;
      }
      @include breakpoint($small $medium) {
        @include gallery(1 of 10);
        &.hidesm {display: none;}
      }
    }
  }
  .image-animate {
    @include background(url('../images/hotel/about_me.png'));
    background-repeat: no-repeat;
    background-position: center top;

    width: 752px;
    height: 439px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 300px;
    left: 0;
    right: 0;
    z-index: -1;
  }
}//welcome
