@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../../../components/sass/_base.scss */
body {
  font: 400 1em/1.5em "PT Sans Narrow", "Helvetica Nene", Helvetica, Arial, sans-serif;
  background: #FFFFFF;
  color: #332532;
}

/* line 7, ../../../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font: 400 1.5em/1.5em "PT Sans Narrow", "Helvetica Nene", Helvetica, Arial, sans-serif;
  color: #81636a;
  font-weight: 700;
}

/* line 13, ../../../components/sass/_base.scss */
strong {
  font-weight: 700;
}

/* line 1, ../../../components/sass/modules/_mazeRobot.scss */
#maze-robot table {
  margin: 5px;
  border-collapse: separate;
}

/* line 5, ../../../components/sass/modules/_mazeRobot.scss */
#maze-robot table td {
  border: 2px solid #eee;
  padding: 30px;
}

/* line 10, ../../../components/sass/modules/_mazeRobot.scss */
#maze-robot table td.end {
  border-color: #F77A52;
}

/* line 13, ../../../components/sass/modules/_mazeRobot.scss */
#maze-robot table td.robot {
  position: relative;
  overflow: hidden;
}

/* line 17, ../../../components/sass/modules/_mazeRobot.scss */
#maze-robot table td.robot:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: transparent url(../images/robot.png) center center no-repeat;
}

/* line 26, ../../../components/sass/modules/_mazeRobot.scss */
#maze-robot table td.robot.face-north:before {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* line 31, ../../../components/sass/modules/_mazeRobot.scss */
#maze-robot table td.robot.face-west:before {
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* line 36, ../../../components/sass/modules/_mazeRobot.scss */
#maze-robot table td.robot.face-east:before {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* line 41, ../../../components/sass/modules/_mazeRobot.scss */
#maze-robot table td.robot.face-south:before {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 48, ../../../components/sass/modules/_mazeRobot.scss */
#maze-robot table td.north {
  border-top-color: #332532;
}

/* line 51, ../../../components/sass/modules/_mazeRobot.scss */
#maze-robot table td.south {
  border-bottom-color: #332532;
}

/* line 54, ../../../components/sass/modules/_mazeRobot.scss */
#maze-robot table td.west {
  border-left-color: #332532;
}

/* line 57, ../../../components/sass/modules/_mazeRobot.scss */
#maze-robot table td.east {
  border-right-color: #332532;
}

/* line 1, ../../../components/sass/modules/_app.scss */
html.app, .app body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
}

/* line 7, ../../../components/sass/modules/_app.scss */
.app core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* line 12, ../../../components/sass/modules/_app.scss */
.app core-toolbar {
  background: #03a9f4;
  color: white;
}

/* line 16, ../../../components/sass/modules/_app.scss */
.app #tabs {
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}

/* line 25, ../../../components/sass/modules/_app.scss */
.app .container {
  width: 80%;
  margin: 50px auto;
}

@media (min-width: 481px) {
  /* line 30, ../../../components/sass/modules/_app.scss */
  .app #tabs {
    width: 200px;
  }

  /* line 33, ../../../components/sass/modules/_app.scss */
  .app .container {
    width: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
